{% load static %}

<div class="bg-accent-cool-lighter padding-2 margin-y-1">
    <ul class="usa-icon-list">
        <li class="usa-icon-list__item">
        {% if narrative.inheritance.name == "Fully Inherited" %}
            <div class="usa-icon-list__icon text-primary-vivid">
                <svg class="usa-icon usa-icon-list--size--1" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#local_police" %}"></use>
                </svg>
            </div>
        {% elif narrative.inheritance.name == "Shared" %}
            <div class="usa-icon-list__icon text-secondary-dark">
                <svg class="usa-icon usa-icon-list--size--1" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#settings" %}"></use>
                </svg>
            </div>
        {% else %}
            <div class="usa-icon-list__icon text-green">
                <svg class="usa-icon usa-icon-list--size--1" aria-hidden="true" focusable="false" role="img">
                    <use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#api" %}"></use>
                </svg>
            </div>
        {% endif %}
            <div class="usa-icon-list__content">
                <h3 class="usa-icon-list__title">Your responsibility:</h3>
                <p>
                {% if narrative.inheritance.responsibility %}
                    {{ narrative.inheritance.responsibility|safe }}
                {% else %}
                    Write a <b>Control Narrative</b> to match your system and include all required information.
                {% endif %}
                </p>
            </div>
        </li>
    </ul>
</div>