{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}
{% load system_tags %}

{% block title %}
  Controls Selected
{% endblock %}

{% block head %}
{{block.super}}
{% endblock %}

{% block body_content %}
  <div class="">
    {% if controls|length < 1 %}
      <div id="tab-content" class="row row-control">
        <div id="" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <p>No controls are currently selected for your system.</p>
          <p>An appropriate baseline will be assigned based on your questionnaire answers. Alternatively, you can predictively assign a control baseline from the list below.</p>
          <ul>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='NIST_SP-800-53_rev4' baseline_name='low' %}>Assign 800-53 rev4 Low Impact Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='NIST_SP-800-53_rev4' baseline_name='moderate' %}>Assign 800-53 rev4 Moderate Impact Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='NIST_SP-800-53_rev4' baseline_name='high' %}>Assign 800-53 rev4 High Impact Baseline</a></li>
            <br>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='NIST_SP-800-171_rev1' baseline_name='cui' %}>Assign 800-171 rev1 Baseline</a></li>
            <br>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='CMMC_ver1' baseline_name='level 1' %}>Assign CMMC ver1 level 1 Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='CMMC_ver1' baseline_name='level 2' %}>Assign CMMC ver1 level 2 Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='CMMC_ver1' baseline_name='level 3' %}>Assign CMMC ver1 level 3 Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='CMMC_ver1' baseline_name='level 4' %}>Assign CMMC ver1 level 4 Baseline</a></li>
            <li><a href={% url 'assign_baseline' system_id=system.id catalog_key='CMMC_ver1' baseline_name='level 5' %}>Assign CMMC ver1 level 5 Baseline</a></li>

            {% for catalog in external_catalogs %}
              <li><a href={% url 'assign_baseline' system_id=system.id catalog_key=catalog.catalog_key  baseline_name='low' %}>Assign {{ catalog.catalog_key_display }} Low Impact Baseline</a></li>
              <li><a href={% url 'assign_baseline' system_id=system.id catalog_key=catalog.catalog_key  baseline_name='moderate' %}>Assign {{ catalog.catalog_key_display }} Moderate Impact Baseline</a></li>
              <li><a href={% url 'assign_baseline' system_id=system.id catalog_key=catalog.catalog_key  baseline_name='high' %}>Assign {{ catalog.catalog_key_display }} High Impact Baseline</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% else %}
      <div id="tab-content" class="">
        <table id="controls-list" class="usa-table usa-table--striped font-sans-3xs">
          <caption>
            Selected controls <div id="download-controls" data-doc="{{document.id|escapejs}}" data-sys="{{ system.id }}" class="float-right"><svg class="usa-icon position-relative usa-icon--size-3 top-1" aria-hidden="true" focusable="false" role="img"><use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#file_download" %}"></use></svg></div>
          </caption>
          <thead>
            <tr>
              <th data-sortable scope="col" role="columnheader">Control</th>
              <th scope="col" role="columnheader">Catalog</th>
              <th scope="col" role="columnheader"></th>
              <th data-sortable scope="col" role="columnheader"></th>
              <th data-sortable scope="col" role="columnheader">Status</th>
            </tr>
          </thead>
          <tbody>
          {% for control in controls %}
            <tr>
              <td data-sort-value="{{ control.get_flattened_oscal_control_as_dict.id_display|upper }}">
                <a href="{% url 'control_editor' system_id=system.id catalog_key=control.oscal_catalog_key cl_id=control.oscal_ctl_id %}">{{ control.get_flattened_oscal_control_as_dict.id_display|upper }} </a>
              </td>
              <td>
                <span class="systems-control-catalog">{{ control.oscal_catalog_key }}</span>
              </td>
              <td>
                {{ control.get_flattened_oscal_control_as_dict.title }}
              </td>
              <td data-sort-value="{{ total }}">
                {% with total=impl_smts_cmpts_count|get_item:control.oscal_ctl_id %}
                {% if total > 0 %}
                  {{ total }} component{{ total|pluralize }}
                {% else %}
                    &mdash;
                {% endif %}
                {% endwith %}
              </td>
              <td data-sort-value="{{ control.get_status }}">
                {{ control.get_status }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div
          class="usa-sr-only usa-table__announcement-region"
          aria-live="polite"
        ></div>
      </div>
    {% endif %}
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  function show_control_by_id() {
    var control_id = $('#control-lookup').find('input[name="id"]').val();
    var url = "/systems/{{ system.id }}/controls/catalogs/{{ control_id.oscal_catalog_key }}/control/" + control_id;
    window.location.href = url;
  }

  $(document).ready(function() {
    // Add:  Convert form select to jQuery Select2
    $('#add-control_id-select').select2({
      ajax: {
              url: "/controls/api/controlsselect/",
              dataType: 'json',
              delay: 250,
              data: function(params) {
                  return {
                      q: params.term // search term
                  };
              },
              processResults: function(data, params) {
                  var resData = [];
                  data.data.controls.forEach(function(value) {
                      if (value.display_text.indexOf(params.term) != -1)
                          resData.push(value)
                  })
                  return {
                      results: $.map(resData, function(item) {
                          return {
                              text: item.display_text,
                              id: item.id
                          }
                      })
                  };
              },
              cache: true
          },
          minimumInputLength: 1
    }).on('select2:select', function (e) {
      // After change event for which e.params isn't defined
      display_text = e.params.data.text;
      displaytext = display_text.split(' - ');
      var first = displaytext.shift(); //or arr[arr.length-1];
      var last = displaytext.pop(); //or arr[0];
      dtv = [first, displaytext.join(" - "), last]; // [control_id, title, catalog_key]
      ck = dtv[2];
      // $('#add-catalog_key-input').val(e.params.data.catalog_key);
      $('#add-catalog_key-input').val(ck.replace(" ","_"));
      $('#add-control').submit();
    });

  }); //$(document).ready(function()

  // Confirm deletion of control
  function confirm_cnt_rm(cnt_rm_url) {
    var result = confirm('Remove selected control from system?\nAny customizations to control\'s statements will be lost.');
      if (result) {
        window.location.href = cnt_rm_url;
      }
    }
</script>
<script src="{% static "js/control.dev.js" %}"></script>
{% endblock %}
