{% extends "project-base.html" %}
{% load humanize %}
{% load static %}

{% block title %}
  {{ project }} | {{ element.name }}
{% endblock %}

{% block breadcrumbs_extension %}
  <li class="usa-breadcrumb__list-item">
    <a href="{{project.get_absolute_url}}" class="usa-breadcrumb__link">
      <span>{{project.title}}</span>
    </a>
  </li>
  <li class="usa-breadcrumb__list-item usa-current" aria-current="{{ element.name }}">
    <span>{{ element.name }}</span>
  </li>
{% endblock %}

{% block pagetitle %}
<a href="{{project.get_absolute_url}}">{{ project }}{% if acronym %} ({{ acronym|safe }}){% endif %}</a>
{% endblock %}

{% block pageheader %}
<h2 class="margin-bottom-1">System Component: {{ element.name }}</h2>
<div class="usa-step-indicator__header">
  <h4 class="usa-step-indicator__heading">
    <span class="usa-step-indicator__heading-counter">
      <span class="usa-step-indicator__current-step"></span>
      <span class="usa-step-indicator__total-steps">of {{ impl_smts|length }}</span>
      Control Implementation Statements addressed
    </span>
  </h4>
</div>
{% endblock %}

{% block body_content %}
<div class="grid-container padding-x-0">
    <div class="grid-row">
        <div class="grid-col-3 padding-right-2">
            <h4 class="text-bold margin-bottom-2 margin-top-1">Controls</h4>
            {% include 'components/component-sidenav.html' %}
        </div>
        <div class="grid-col-fill">
            <div class="margin-bottom-1">
                {% for k, c in page_data.items %}
                    {% if forloop.first %}
                        <h3 class="text-bold margin-bottom-2">{{ c.label|upper }}: {{ control.title }}</h3>
                        <ul class="usa-list usa-list--unstyled">
                            <li><b>Control Family</b>: {{ c.family }}</li>
                            <li><b>Responsibility</b>: {% for smt in impl_smts %}{% if smt.sid == c.sid %}{{ smt.inheritance.name }}{% endif %}{% endfor %}</li>
                            <li><b>Control Description</b>: {{ c.description|linebreaks }}</li>
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
            {% include 'systems/_responsibilities.html' %}
            <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
                <h4 class="usa-accordion__heading">
                    <button
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="b-a1"
                    >CMS Implementation Standard</button>
                </h4>
                <div id="b-a1" class="usa-accordion__content usa-prose">
                    {% for k, c in page_data.items %}
                        {% if forloop.first %}
                            {% if c.implementation %}
                                <p>{{ c.implementation|linebreaks }}</p>
                            {% else %}
                                <p>No Implementation Standards provide.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <h4 class="usa-accordion__heading">
                    <button
                      class="usa-accordion__button"
                      aria-expanded="false"
                      aria-controls="b-a2"
                    >Guidance</button>
                </h4>
                <div id="b-a2" class="usa-accordion__content usa-prose">
                    {% for k, c in page_data.items %}
                        {% if forloop.first %}
                            <p>{{ c.guidance|linebreaks }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <h4 class="usa-accordion__heading">
                    <button
                      class="usa-accordion__button"
                      aria-expanded="true"
                      aria-controls="b-a3"
                    >Control Narrative</button>
                </h4>
                <div id="b-a3" class="usa-accordion__content usa-prose">
                    {% for smt in impl_smts %}
                        {% if smt.sid == control.id %}
                            {% include 'controls/statement_edit_form.html' %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
