{% load static %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="grid-container padding-x-05">
    <div class="grid-row">
      <div id="header-left" class="grid-col-fill">
        <a class="margin-right-3 margin-top-1 float-left" href="/">
          <img alt="Logo" src="{% static "img/blueprint_branding/Blueprint_Logo.svg" %}">
        </a>
        <ul class="nav navbar-nav navbar-left">
          {% if request.user.is_authenticated and not request.user.is_anonymous %}
            <li><a href="/projects" id="menu-projects">Projects</a></li>
            <li><a href="{% url 'component_library' %}" id="menu-controls">Component Library</a></li>
          {% endif %}
        </ul>
      </div>

      <div id="header-right">
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <!-- Create new projects, portfolios -->
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="create-menu-dropdown">
                <span class="glyphicon glyphicon-plus"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a id="new-project" href="{% url 'store' %}?start=true">Start a new project&hellip;</a></li>
                <li class="dropdown-item-text small text-muted nav-dropdown-item-text">Begin a project from the assessment library. You will be able to choose any available assessment.
                </li>
              </ul>
            </li>
          {% endif %}

          {% if user.is_staff %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="settings-menu-dropdown"><span class="glyphicon glyphicon-cog" aria-label="Settings" tooltip="Settings"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/settings" id="menu-settings" aria-label="Blueprint settings" tooltip="Blueprint settings"><span class="glyphicon glyphicon-cog" aria-label="Settings"></span> Blueprint settings</a></li>
                <li><a href="{{settings.SITE_ROOT_URL}}/admin" id="menu-settings" aria-label="Database administration" tooltip="Database administration"><span class="glyphicon glyphicon-cog" aria-label="Database administration"></span> Database administration</a></li>
              </ul>
            </li>
          {% endif %}

          <li><a href="/help">Help</a></li>

          {% if not user.is_anonymous %}{% include "navbar-notifications.html" %}{% endif %}

          {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="user-menu-dropdown">
                {{request.user}}
              </a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'account_settings' %}" id="user-menu-account-settings">Account settings</a></li>
                <li><a href="/api-keys">Your API Keys</a></li>
                {% if can_upgrade_app %}
                <li role="separator" class="divider"></li>
                <li>{% if is_question_page %}<a href="#" onclick="upgrade_app({{task.project.root_task.module.app.id}});">
                    {% else %}
                    <a href="#" onclick="upgrade_app({{project.root_task.module.app.id}});">
                    {% endif %}
                  <em class="glyphicon glyphicon-upload"></em> Upgrade project</a>
                </li>
                {% endif %}
                <li role="separator" class="divider"></li>
                <li><a href="/accounts/password/change/">Change password</a></li>
                <li><a href="/accounts/logout/">Log Out</a></li>
              </ul>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
