{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a class="usa-breadcrumb__link" href="/help">
        <span>Help</span>
      </a>
    </li>
    <li class="usa-breadcrumb__list-item">
			<span>Contact Us</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<div>
  <h1>Contact Us</h1><br>
  <p>
    Email us directly at <a href="mailto:rapidato@cms.hhs.gov">rapidato@cms.hhs.gov</a>.
  </p>
</div>
{% endblock %}
