{% extends "base.html" %}
{% load static %}

{% block breadcrumbs %}
<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <span>Help</span>
    </li>
  </ol>
</nav>
{% endblock %}

{% block body %}
<div>
  <h1>Help</h1>
  <br>
  <p>
    Browse the FAQs for for quick answers or visit the website for in-depth
    information. Contact us directly if you have a comment or don’t find what
    you’re looking. Thank you for using Blueprint!
  </p>
  <br>
  <ul class="usa-card-group">
    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">Frequently Asked Questions</h2>
        </header>
        <div class="usa-card__body padding-bottom-3">
          <p>Most popular inquiries</p>
        </div>
        <div class="usa-card__footer">
          <a  href="/faq" class="usa-button" style="width:100%;">Read the FAQs</a>
        </div>
      </div>
    </li>

    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">About CMS Rapid ATO</h2>
        </header>
        <div class="usa-card__body padding-bottom-3">
          <p>Read more about the initiative</p>
        </div>
        <div class="usa-card__footer">
          <a href="https://cmsgov.github.io/rato-website/" class="usa-button" style="width:100%;">Learn more</a>
        </div>
      </div>
    </li>

    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading">Contact Us</h2>
        </header>
        <div class="usa-card__body padding-bottom-3">
          <p>We look forward to connecting</p>
        </div>
        <div class="usa-card__footer">
          <a href="/contact" class="usa-button" style="width:100%;">Contact us</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
