{% extends "base.html" %}
{% load guardian_tags %}
{% load q %}
{% load humanize %}

{% block pagetitle %}
Welcome to {% if sitename %}{{ sitename }}{% else %}Blueprint for CMS{% endif %}
{% endblock %}

{% block pagesubtitle %}
Say goodbye to waterfall compliance.
{% endblock %}

<!-- Remove context bar from top of page -->
{% block contextbar %}{% endblock %}

{% block body %}
<div id="home" class="padding-top-2">
  <ol class="usa-process-list margin-bottom-3">
    <li class="usa-process-list__item width-full padding-bottom-3">
      <p class="usa-process-list__heading">Enter basic information about your system</h4>
      <p>Name, Acronym, Location, FISMA Impact Level</p>
    </li>
    <li class="usa-process-list__item width-full padding-bottom-3">
      <p class="usa-process-list__heading">Select System Components based on your technical architecture & policies</p>
      <p>Pre-written control implementation statements to match your system</p>
    </li>
    <li class="usa-process-list__item width-full padding-bottom-3">
      <p class="usa-process-list__heading">As you build, add or edit control implementation statements to match your system</p>
      <p>Integrating security and compliance into your development process</p>
    </li>
    <li class="usa-process-list__item width-full padding-bottom-3">
      <p class="usa-process-list__heading">Download your System Security Plan to import into CFACTS</p>
      <p>CFACTS import file, Open Security Control Assessment Language (OSCAL), Microsoft Word</p>
    </li>
  </ol>

  <!-- Display grid of options -->

  <ul class="usa-card-group">
    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading card-headline">Get Started</h2>
        </header>
        <div class="usa-card__body padding-bottom-5">
          <p>Start a project and begin adding System Compontents to your System Security Plan today.</p>
        </div>
        <div class="usa-card__footer">
          <a id="new-project" class="usa-button button-link" href="{% url 'store' %}?start=true" style="width:100%;">Get started</a>
        </div>
      </div>
    </li>

    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading card-headline">Continue a Project</h2>
        </header>
        <div class="usa-card__body padding-bottom-5">
          <p>Access existing project(s) and continue building your your System Security Plan(s).</p>
        </div>
        <div class="usa-card__footer">
          <a href="/projects" class="usa-button button-link usa-button--outline" style="width:100%;">Access projects</a>
        </div>
      </div>
    </li>

    <li class="tablet:grid-col-4 usa-card">
      <div class="usa-card__container border-width-1px radius-md">
        <header class="usa-card__header">
          <h2 class="usa-card__heading card-headline">Learn More</h2>
        </header>
        <div class="usa-card__body padding-bottom-5">
          <p>Learn more about how Blueprint fits into the ATO ecosystem at CMS.</p>
        </div>
        <div class="usa-card__footer">
          <a href="https://cmsgov.github.io/rato-website/" class="usa-button button-link usa-button--outline" target="_blank" rel="noopener noreferrer" style="width:100%;">Learn more</a>
        </div>
      </div>
    </li>
  </ul>
</div>
{% endblock %}
