<ul class="custom-list">
  <li class="custom-list__item">
    <h4 class="custom-list__heading">Explore Components </h4>
    <p class="margin-top-05">
      Blueprint adds initial Components based on your FISMA Level and environment. Component include pre-written control implementation statements. Review and edit the statements to match your system. 
    </p>
  </li>
  <li class="custom-list__item">
    <h4 class="custom-list__heading">Build Your System Blueprint</h4>
    <p>
      Components align with your system’s technology and policies. As you build your system, use Manage Components to add corresponding components in Blueprint. As you work, Blueprint will add control statements to help you manage compliance. 
    </p>
  </li>
  <li class="custom-list__item">
    <h4 class="custom-list__heading">Implement Controls</h4>
    <p>
      As you implement controls for your system, mark the statements at Implemented in Blueprint. Build your System Security Plan statement by statement. 
    </p>
  </li>
  <li class="custom-list__item">
    <h4 class="custom-list__heading">Review Controls</h4>
    <p>
      Use Review Controls to see which controls are implemented and which still need work. Remember that some controls are associated with multiple components, and some need customized language to satisfy requirements. 
    </p>
  </li>
  <li class="custom-list__item">
    <h4 class="custom-list__heading">Export SSP</h4>
    <p>
      Once all controls are implemented, use Export System Security Plan to export your SSP to import into CFACTS. 
    </p>
  </li>
</ul>
