{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load system_tags %}
{% load static %}
{% load q %}

{% block title %}
  {{title}}
{% endblock %}

{% block head %}
{{block.super}}
{% endblock %}

{% block pagetitle %}
<div id="project-title-info" class="row">
  <div class="col-sm-8">
    {% if project.organization %}
      <h2 id="project-title">{{ project.title }}
        {% block title_suffix_text %}
        {% endblock %}
      </h2>

      {% if title != project.root_task.module.spec.title %}
        <div class="text-bold">
          {{project.root_task.module.spec.title}} {% if security_sensitivity %}[{{ security_sensitivity|lower }}]{% else %} [Moderate]{% endif %}
        </div>
      {% endif %}
    {% endif %}
  </div>
</div><!-- /project-title-info -->
{% endblock %}

{% block body_content %}
<div class="grid-container margin-left-neg-5">
  <div class="grid-row">
    <div class="grid-col-2">
      <svg viewBox="0 0 36 36" class="circular-chart">
        <path class="circle-bg"
          d="M18 2.0845
          a 15.9155 15.9155 0 0 1 0 31.831
          a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <path class="circle"
          stroke-dasharray="{{ percent_compliant_100 }}, 100"
          d="M18 2.0845
            a 15.9155 15.9155 0 0 1 0 31.831
            a 15.9155 15.9155 0 0 1 0 -31.831"
        />
        <text x="18" y="20.35" class="percentage">{{ percent_compliant_100|floatformat:0 }}%</text>
      </svg>
    </div>
    <div class="grid-col-fill">
      <h3 class="site-preview-heading margin-top-3">
        <a href="{% url 'controls_selected' system_id=project.system.id %}">
          {{ elements|length }} System Component{{ elements|length|pluralize }}
        </a>
      </h3>
      <a href="{% url 'controls_selected' system_id=project.system.id %}">
        {{ controls_addressed_count }} of {{ total_controls_count }} Controls Addressed
      </a>
    </div>
  </div>
</div>
<div class="col-sm-8" class="project-row-style">
  <h2 class="status-section-header">System Information</h2>
  {% if project.root_task.module.spec.is_app_stub %}
    {# This project is tied to an app that has not yet been imported. #}
    <h2>Activate App</h2>
    <p>This app must be activated by an administrator of your organization. Send them <a href="javascript:invite_user_into_project()">an invitation</a> to join this project. When they get here, they&rsquo;ll be able to activate the app.</p>
  {% endif %}
</div>

{% for column in columns %}
<div class="col-md-9">
  <div class="question-column">
  {% for group in column.groups %}
    {% if group.title %}
      <a class="group-title" id="{{group.title}}"></a>
    {% endif %}
    <ul class="usa-card-group question">
      {% for q in group.questions %}
        {% if q.question.key != "ssp_intro" %}
          <li class="col-sm-12 usa-card">
            <div class="usa-card__container">
              <header class="usa-card__header">
                <h2 class="usa-card__heading">
                  {% if not q.can_start_new_task and q.question.spec.app_overrides_name_and_icon is None %}
                    {{q.task.title}}
                  {% else %}
                    {{q.question.spec.title}}
                  {% endif %}
                </h2>
              </header>
              <div class="usa-card__body">
              </div>
              <div class="usa-card__footer">
                {% with task=q.task %}
                {% if layout_mode == "rows" %}
                  {% if not q.question.spec.protocol %}
                    <form class="start-task" method="post" action="/tasks/start"
                      onclick="$(this).submit();" style="cursor: pointer">
                      {% csrf_token %}
                      <input type="hidden" name="project" value="{{project.id}}"/>
                      <input type="hidden" name="question" value="{{q.question.key}}"/>
                      <input type="hidden" name="previous" value="project"/>
                      {% if task.is_finished %}
                        <button class="usa-button pull-left margin-right-1" onclick="window.location='{{ q.task.get_absolute_url }}';">Completed</button>
                        <button class="usa-button pull-left usa-button--outline" onclick="window.location='{{ q.task.get_absolute_url }}';">Edit</button>
                      {% elif task.is_started %}
                        <button class="usa-button pull-left">In progress</button>
                      {% else %}
                        <button class="usa-button pull-left">Start section</button>
                      {% endif %}
                    </form>
                  {% else %}
                    <form method="get" action="{% url 'store' %}" onclick="$(this).submit();" style="cursor: pointer">
                      <input type="hidden" name="portfolio" id="id_portfolio" value="{{ project.portfolio.id }}">
                      <input type="hidden" name="q" value="{{project.root_task.id}}/{{q.question.key}}">
                      {% if task.is_finished %}
                        <button class="usa-button pull-left margin-right-1" onclick="window.location='{{ q.task.get_absolute_url }}';">Completed</button>
                        <button class="usa-button pull-left usa-button--outline" onclick="window.location='{{ q.task.get_absolute_url }}';">Edit</button>
                      {% elif task.is_started %}
                        <button class="usa-button pull-left">In progress</button>
                      {% else %}
                        <button class="usa-button pull-left">Start section</button>
                      {% endif %}
                    </form>
                  {% endif %}
                {% endif %}
                {% endwith %}
              </div>
              <div class="question-body">
                {# Show open invitations related to this question. #}
                {% for inv in q.invitations %}
                <p class="invitation" data-invitation-id="{{inv.id}}">
                  You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                  (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
                </p>
                {% endfor %}

                {# If the user is a guest participant in a discussion inside this question, link to this discussion. They can't view the task directly. (?) #}
                {% if q.discussions %}
                  <div>
                    <div class="text-bold">Discussions:</div>
                    {% for d in q.discussions %}
                    <a class="display-block" href="{{d.get_absolute_url}}">{{d.attached_to.question.spec.title}}</a>
                    {% endfor %}
                  </div>
                {% endif %}
              </div> <!-- /.question-body -->
            </div>
          </li> <!-- /#question-__.question -->
        {% endif %}
      {% endfor %} {# question #}
    </ul> <!-- /question-group -->
  {% endfor %} {# group #}
  </div> <!-- /question-column -->

  <div class="col-md-12" class="project-row-style" style="border:0px solid green;">
    <h2 class="status-section-header">System Components</h2>
  </div>
  <div class="col-md-12">
    <ul class="usa-card-group">
      {% for e in elements %}
      <li class="col-sm-12 usa-card">
        {% with element_smts_done_count=producer_elements_control_impl_smts_status_dict|get_item:e|get_item:'Implemented' element_smts_count=producer_elements_control_impl_smts_dict|get_item:e|length %}
        <div class="usa-card__container">
          <header class="usa-card__header">
            <h2 class="usa-card__heading">{{ e.name }}</h2>
          </header>
          <div class="usa-card__body">
            {% if e.description != e.name %}
              <p class="text-bold">{{ e.description }}</p>
            {% endif %}
            <p>{% if element_smts_done_count %}{{element_smts_done_count}}{% else %}0{% endif %} of {{ element_smts_count }} controls addressed</p>
            <div class="progress" style="width:40%; height:8px;">
              {% with progress_fraction=element_smts_done_count|divide:element_smts_count %}
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_fraction|multiply:100 }}%;">
                <span class="sr-only">{{ progress_fraction|multiply:100 }}% Complete</span>
              </div>
              {% endwith %}
            </div>
          </div>
          <div class="usa-card__footer">
            {% if element_smts_done_count > 0 and element_smts_done_count < element_smts_count %}
              <a href="{% url 'system_element' project.system.id e.id %}" class="usa-button pull-left">In progress</a>
            {% elif element_smts_done_count == element_smts_count or element_smts_done_count > element_smts_count %}
              <a href="{% url 'system_element' project.system.id e.id %}" class="usa-button pull-left margin-right-1">Complete</a>
              <a href="{% url 'system_element' project.system.id e.id %}" class="usa-button pull-left usa-button--outline">Edit</a>
            {% else %}
              <a href="{% url 'system_element' project.system.id e.id %}" class="usa-button pull-left">Start</a>
            {% endif %}
          </div>
        </div>
        {% endwith %}
      </li>
      {% endfor %}
    </ul>
  </div>
</div> <!-- /col -->
{% endfor %} {# column #}

{% endblock %}

{% block modals %}
{% include "controls/import_project_modal.html" %}
{% if authoring_tool_enabled %}
{# should be in body so that it comes before the global error modal so that ajax errors show on top of this #}
{% include "authoring-tool-modal.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
<script>
$(function() {
  set_state_from_url_fragment();
  $(window).on('hashchange', set_state_from_url_fragment);
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var tabid = e.target.getAttribute('href').substring(1); // old IE might return absolute URL here?
    window.location.hash = "#tab=" + encodeURIComponent(tabid);
  })

  {% if layout_mode == "grid" %}
  // Resize questions so they all have the same height, to the max height of any.
  var max_height = 0;
  $('.question').each(function() {
    var h = $(this).outerHeight();
    if (h > max_height) max_height = h;
  });
  $('.question').css({ height: max_height });
  {% endif %}
})

function move_project() {
  show_move_project_modal((selectedPortfolioId)=>{
    ajax_with_indicator({
      url: '{% url "move_project" project.id %}',
      method: "POST",
      data: {new_portfolio: selectedPortfolioId},
      keep_indicator_forever: true,
      success: function() {
        window.location.reload();
      }
    });
  });
  return false;
}

function invite_user_to_start_module(module_title, question_id) {
  var info = project_invitation_info;
  show_invite_modal(
    'Start a Module (' + info.model_title + ')',
    'Invite a colleague to answer the module ' + module_title + '.',
    info,
    'Can you give me a hand completing the module ' + module_title + ' for ' + info.model_title + '?',
    {
      project: info.model_id,
      into_new_task_question_id: question_id
    },
    function() { window.location.reload() }
  );

  return false;
}

function set_state_from_url_fragment() {
  var fragment = window.location.hash.substring(1); // chop off the "#"

  // The GovReady Dashboard React app appends a random code like `?_k=h9zm95` to the
  // fragment, so we need to strip that out.
  fragment = fragment.split('?').shift();

  var fragment = parse_qs(fragment);

  // Highlight the question.
  if (fragment.q && fragment.t) {
    $('.question').each(function() {
      if (this.id == "question-" + fragment.q && this.getAttribute("data-task-id") == fragment.t) {
        var elem = $(this);
        elem.css({ backgroundColor: "#FFA" });
        smooth_scroll_to(elem);
        setTimeout(function() { elem.css({ backgroundColor: "#FFF" }); }, 2000);
      }
    });
  }
}

function delete_project() {
  show_modal_confirm(
    "Delete Project",
    "Are you sure you want to delete this project? All information will be permanently deleted.",
    "Delete",
    function() {
      ajax_with_indicator({
       url: '{% url "delete_project" project.id %}',
       method: "POST",
       success: function(res) {
         // redirect to home to see other projects
         window.location = res.redirect;
       }
      });
    }
  )
}

function make_admin(is_admin, user_id, user_name) {
  show_modal_confirm(
    (is_admin ? "Make Project Administrator" : "Revoke Administrator Privilege"),
    "Do you want to "
		+ (is_admin ? "make" : "revoke the administrator privilege from")
		+ " "
		+ user_name
		+ (is_admin ? " an administrator" : "")
		+ " for this project?",
    (is_admin ? "Make Admin" : "Revoke Privilege"),
    function() {
      ajax_with_indicator({
       url: '{% url "make_revoke_project_admin" project.id %}',
       method: "POST",
       data: {
       	 user: user_id,
       	 is_admin: is_admin ? "true" : false
       },
       success: function(res) {
         // reload page to show changes in UI
         window.location.reload();
       }
      });
    }
  )
  return false;
}
</script>

{% if authoring_tool_enabled %}
<script src="{% static "vendor/js-yaml.min.js" %}"></script>
<script src="{% static "js/authoring_tool.js" %}"></script>
<style>.dropdown-menu.textcomplete-dropdown { z-index: 99999 !important; }</style> {# show over modal #}
<script>
$(function() {
  $('.authoring-tool-edit-question').click(function(e) {
    e.stopPropagation();
    show_question_authoring_tool($(this).data('key'));
  })
  init_authoring_tool({
    task: {{project.root_task.id}},
    module: {{project.root_task.module.spec|json}},
    module_yaml: "{{project.root_task.module.spec_yaml|escapejs}}",
    catalog_yaml: "{{project.root_task.module.app.catalog_metadata_yaml|escapejs}}",
    questions: {
      {% for q in project.root_task.module.questions.all %}
      {{q.key}}: {
        spec: {{q.spec|json}},
        choices: "{{q.choices_as_csv|escapejs}}",
        answer_type_module_id: {% if q.answer_type_module %}{{q.answer_type_module.id}}{% else %}null{% endif %}
      }{% if not forloop.last %},{% endif %}
      {% endfor %}
    },
    answer_type_modules: [{% for m in project.root_task.module.get_referenceable_modules %}
      { id: "{{m.id}}", title: "{{m.title|escapejs}} ({{m.module_name}})" }{% if not forloop.last %},{% endif %}
      {% endfor %}],
    autocomplete_questions: { }
  });
});
</script>
{% endif %}
{% endblock %}
