{% extends "project-base.html" %}
{% load static %}
{% load q %}

{% block title %}
{{ title }}
{% endblock %}


{% block above_title %}
    {% if authoring_tool_enabled %}
      <center style="font-size: 90%;" class="authoring-tool-hidden"><p class="text-info">
        You are in author mode. Authoring tools have been enabled for this module.
      </p></center>

      <center style="font-size: 90%;" class="authoring-tool-hidden">
      <p>
      <a href="#" onclick="show_authoring_tool_module_editor(); return false;" class="project-settings-glyphicons">
        <span class="glyphicon glyphicon-pencil"></span>
        Edit App
      </a>

      <a href="#" onclick="authoring_tool_new_question({{project.root_task.id}}, true); return false;" class="project-settings-glyphicons">
      <span class="glyphicon glyphicon-plus"></span>
      Add Question
      </a>

      <a href="#" onclick="authoring_tool_download_app_project({{project.root_task.id}}, true); return false;" class="project-settings-glyphicons">
      <span class="glyphicon glyphicon-download"></span>
      Download Source
      </a>
      </p>
    </center>
    {% endif %}
{% endblock %}

{% block body_content %}
  <div class="col-md-9 order-12">
    <h2>Project Settings</h2>
    <div class="row">

{% if project.is_deletable and is_admin %}

        <div>
          <div class="row">
            <div class="col-sm-12">
              <h2 class="project-settings-header">About</h2>
            </div>
          </div>
          <div class="row project-settings-row">
            <div class="col-sm-12 project-settings-description"><small>{{project.root_task.module.app.catalog_metadata.description.short|safe|truncatewords_html:18}}</small></div>
            <div class="col-sm-3"><small><span class="text-muted">App Source:</span><br>{{project.root_task.module.app.source.slug|safe}}</small></div>
            <div class="col-sm-3"><small><span class="text-muted">Compliance App:</span><br>{{project.root_task.module.spec.title}}</small></div>
            <div class="col-sm-3"><small><span class="text-muted">Project ID:</span><br>{{project.id}}</small></div>
            <div class="col-sm-3"><small><span class="text-muted">Started:</span><br>{{project.created}}</small></div>
          </div>
          <div class="row project-settings-row">
            <div class="col-sm-3"><small><span class="text-muted">App Version:</span><br>{{project.root_task.module.app.version_number|safe}}</small></div>
            <div class="col-sm-3"><small><span class="text-muted">Project Version Comment:</span><br>{{project.version_comment|safe}}</small></div>
          </div>
        </div>

        {% if can_start_any_apps %}
        <div class="row">
          <div class="col-sm-6">
              <a class="btn btn-default" href="{{project.get_absolute_url}}/startapps">Start Apps</a>
          </div>
        </div>
        {% endif %}

      {% endif %}

        <div class="row project-settings-rows">
          <div class="col-sm-12">
            <h2 class="project-settings-header">Participants</h2>
          </div>
          <div class="col-sm-12">
              {% for user, authz in project.get_all_participants %}
                <div class="clearfix project-settings-all-participants">
                  <div class="project-settings-user-details">
                  {% if authz.user_details.picture %}
                    <img src="{{authz.user_details.picture.url}}" alt="{{authz.user_details.name}} Profile Picture"
                      style="display:block; width: 100%; height: 100%;">
                  {% else %}
                  <div class="avatar" style="font-size:1.0em; text-align: center; font-weight: bold; {{user.get_avatar_fallback_css.css}}">
                    {{user.get_avatar_fallback_css.text}}
                  </div>
                  {% endif %}
                  </div>
                  <span {% if authz.user_details.name != user.email %}title="{{user.email}}"{% endif %}>
                    <!-- {{authz.user_details.name}} -->
                    {{user}}
                  </span>
                  <span>
                    {% load guardian_tags %}
                    {% get_obj_perms user for project as "user_perms" %}
                    {% if 'project_owner' in user_perms %}
                    Project Editor
                    {% elif 'change_project' in user_perms %}
                    Project Editor
                    {% elif 'view_project' in user_perms %}
                    Project Viewer
                    {% endif %}
                  </span>
                  <div class="role">{{authz.role}}</div>
                  {% if is_admin %} {# user loading page is an admin #}
                    {% if authz.is_member %} {# user in the list is an explicit member of the project (e.g. not a discussion guest) #}
                      {% if not authz.is_admin %}
                        <span class="action">(<a href="#" onclick="make_admin(true, {{user.id}}, '{{authz.user_details.name|escapejs}}')">make admin</a>)</span>
                    {% elif user != request.user %}
                        <span class="action">(<a href="#" onclick="make_admin(false, {{user.id}}, '{{authz.user_details.name|escapejs}}')">make regular member</a>)</span>
                      {% endif %}
                  {% endif %}
                  {% endif %}
              {% endfor %}
              {% if send_invitation.can_add_invitee_to_team %}
                <div class="project-settings-invite">
                  <button id="invite-user-to-project" class="usa-button usa-button--outline font-sans-3xs" onclick="return invite_user_into_project();"><span class="glyphicon glyphicon-plus"></span>&nbsp; Grant access to member</button>
                </div>
              {% endif %}

              {% if open_invitations %}
                <div id="open-invitations-container">
                  <h3>Invitations waiting for a response...</h3>
                  <div class="invitation-list">
                  {% for inv in open_invitations %}
                    <p data-invitation-id="{{inv.id}}">
                      You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
                      (<a href="#" onclick="return cancel_invitation(this, function() { if ($('#open-invitations-container .invitation-list p').length == 0) { $('#open-invitations-container').remove(); } });">cancel</a>)
                    </p>
                  {% endfor %}
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>

        <div class="row" style="">
          <div class="col-sm-12">
            <h2 style="border-bottom:1px solid #ccc;">Permissions</h2>
          </div>
          <div class="col-sm-12">
            {% include "permissions.html" with users=users portfolios=portfolios project=project %}
          </div>
        </div>

        {% if is_admin or can_upgrade_app %}
        <div class="row project-settings-rows">
          <div class="col-sm-12">
            <h2 class="project-settings-header">Upgrade Project</h2>
          </div>
          <div class="col-sm-12">Available versions</div>
            <div class="col-sm-12">
              <table class="usa-table usa-table--borderless usa-table--striped">
              <thead>
                <tr>
                  <th scope="col" class="project-settings-table-head">AppName</th>
                  <th scope="col" class="project-settings-table-head">Version</th>
                  <th scope="col" class="project-settings-table-head">Compatibility</th>
                  <th scope="col" class="project-settings-table-head">Action</th>
                </tr>
              </thead>
              <tbody>
            {% for av in available_versions %}
                <tr>
                  <td>{{ av.appname }}</td>
                  <td>{{ av.version_number }}</td>
                  <td>{% if av.version_number == project.root_task.module.app.version_number %}current version{% else %}{{av.is_safe_upgrade}}{% endif %}</td>
                  <td>
                    <button class="usa-button usa-button--outline font-sans-3xs" onclick="return upgrade_project('{{ av.version_number }}');">Upgrade</button>
                  </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            </div>
          </div>
          {% endif %}

        <div class="row project-settings-rows">
          <div class="col-sm-12">
            <h2 class="project-settings-header">Share Data</h2>
          </div>
          <div class="col-sm-12">
              {# export #}
              <form method="post" action="{% url "export_project_questionnaire" project.id %}" style="display: inline-block; margin: 0; padding: 0;">{% csrf_token %}
                <button class="usa-button font-sans-3xs">
                  <span class="glyphicon glyphicon-share" style="margin-right: .25em"></span>
                  Export Project Data
                </button>
              </form>
              {# import #}
              <button class="usa-button font-sans-3xs" onclick="$('#import-file-input').click()" style="margin-left: 12px;">
                <span class="glyphicon glyphicon-cloud-upload" style="margin-right: .25em"> </span> Import Answers From File
              </button>
              <form id="import-form" style="display: none;"
                method="post" enctype="multipart/form-data" action="{% url "import_project_questionnaire" project.id %}">{% csrf_token %}
                <input name="value" type="file" id="import-file-input" class="form-control"
                  style="width: auto; border:  none; padding: 0; display: inline-block"
                  onchange="$('#import-form').submit()" />
              </form>
          </div>
        </div>

      {% if project.is_deletable and is_admin %}
        <div class="row project-settings-rows">
          <div class="col-sm-12">
            <h2 class="project-settings-header">DANGER</h2>
          </div>
          <div class="col-sm-12">
            <button class="usa-button usa-button--secondary" onclick="return delete_project();">Delete Project</button>
          </div>
        </div>
      {% endif %}

    </div> <!-- /row for columns -->
  </div>
</div>
{% endblock %}

{% block modals %}

{% endblock %}

{% block scripts %}
<script>
var project_invitation_info = {{send_invitation|json}};

$(function() {
  set_state_from_url_fragment();
  $(window).on('hashchange', set_state_from_url_fragment);
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    var tabid = e.target.getAttribute('href').substring(1); // old IE might return absolute URL here?
    window.location.hash = "#tab=" + encodeURIComponent(tabid);
  })

  {% if layout_mode == "grid" %}
  // Resize questions so they all have the same height, to the max height of any.
  var max_height = 0;
  $('.question').each(function() {
    var h = $(this).outerHeight();
    if (h > max_height) max_height = h;
  });
  $('.question').css({ height: max_height });
  {% endif %}
})

function invite_user_into_project() {
  var info = project_invitation_info;
  show_invite_modal(
    'Invite To Project Team (' + info.model_title + ')',
    'Invite a colleague to join this project team.',
    info,
    'Please join the project team for ' + info.model_title + '.',
    {
      project: info.model_id,
      add_to_team: "1"
    },
    function() { window.location.reload() }
  );

  return false;
}

function invite_user_to_start_module(module_title, question_id) {
  var info = project_invitation_info;
  show_invite_modal(
    'Start a Module (' + info.model_title + ')',
    'Invite a colleague to answer the module ' + module_title + '.',
    info,
    'Can you give me a hand completing the module ' + module_title + ' for ' + info.model_title + '?',
    {
      project: info.model_id,
      into_new_task_question_id: question_id
    },
    function() { window.location.reload() }
  );

  return false;
}

function set_state_from_url_fragment() {
  var fragment = window.location.hash.substring(1); // chop off the "#"

  // The GovReady Dashboard React app appends a random code like `?_k=h9zm95` to the
  // fragment, so we need to strip that out.
  fragment = fragment.split('?').shift();

  var fragment = parse_qs(fragment);

  // Highlight the question.
  if (fragment.q && fragment.t) {
    $('.question').each(function() {
      if (this.id == "question-" + fragment.q && this.getAttribute("data-task-id") == fragment.t) {
        var elem = $(this);
        elem.css({ backgroundColor: "#FFA" });
        smooth_scroll_to(elem);
        setTimeout(function() { elem.css({ backgroundColor: "#FFF" }); }, 2000);
      }
    });
  }
}


function upgrade_project(version_number) {
  show_modal_confirm(
    "Upgrade Project",
    "Are you sure you want to upgrade this project to version version_number?".replace("version_number", version_number),
    "Upgrade",
    function() {
      ajax_with_indicator({
       url: '{% url "upgrade_project" project.id %}',
       method: "POST",
       data: {
        version_number: version_number
       },
       success: function(res) {
         // redirect to main project page after successful upgrade
         window.location = res.redirect;
       }
      });
    }
  )
}

function delete_project() {
  show_modal_confirm(
    "Delete Project",
    "Are you sure you want to delete this project? All information will be permanently deleted.",
    "Delete",
    function() {
      ajax_with_indicator({
       url: '{% url "delete_project" project.id %}',
       method: "POST",
       success: function(res) {
         // redirect to home to see other projects
         window.location = res.redirect;
       }
      });
    }
  )
}

function make_admin(is_admin, user_id, user_name) {
  show_modal_confirm(
    (is_admin ? "Make Project Administrator" : "Revoke Administrator Privilege"),
    "Do you want to "
		+ (is_admin ? "make" : "revoke the administrator privilege from")
		+ " "
		+ user_name
		+ (is_admin ? " an administrator" : "")
		+ " for this project?",
    (is_admin ? "Make Admin" : "Revoke Privilege"),
    function() {
      ajax_with_indicator({
       url: '{% url "make_revoke_project_admin" project.id %}',
       method: "POST",
       data: {
       	 user: user_id,
       	 is_admin: is_admin ? "true" : false
       },
       success: function(res) {
         // reload page to show changes in UI
         window.location.reload();
       }
      });
    }
  )
  return false;
}
</script>

{% endblock %}
