{% extends "base.html" %}
{% load static %}
{% load q %}

{% block breadcrumbs %}
<nav class="usa-breadcrumb" aria-label="Breadcrumbs,,">
  <ol class="usa-breadcrumb__list">
    <li class="usa-breadcrumb__list-item">
      <a href="/" class="usa-breadcrumb__link"><span>Home</span></a>
    </li>
    <li class="usa-breadcrumb__list-item">
      <a class="usa-breadcrumb__link" href="/projects">
        <span>Projects</span>
      </a>
    </li>
    {% for parent_project in project.get_parent_projects %}
    <li class="usa-breadcrumb__list-item">
      <a href="{{parent_project.get_absolute_url}}" class="usa-breadcrumb__link">
        <span>{{parent_project.title}}</span>
      </a>
    </li>
    {% endfor %}
    {% if element.name %}
      <li class="usa-breadcrumb__list-item usa-current" aria-current="{{project.title}}">
        <span>{{ element.name }}</span>
      </li>
    {% endif %}
    {% block breadcrumbs_extension %}
    {% endblock %}
  </ol>
</nav>
{% endblock %}

{% block body %}
{{block.super}}
<div class="grid-row">
  <div class="tablet:grid-col-9 padding-right-2">
    {% if is_project_page %}
      {% if project.lifecycle_stage %}
        {% with nstages=project.lifecycle_stage.0.stages|length %}
        <div class="progress" style="cursor: default;">
          {% for stage in project.lifecycle_stage.0.stages %}
          <div class="progress-bar progress-bar-success" style="{% if stage.complete %}width: {{ 100|div:nstages|floatformat:0|add:-1 }}%;{% else %}display: none;{% endif %}">
            {{ stage.label }}
          </div>
          {% endfor %}
        </div>
        {% endwith %}
      {% endif %}
    {% endif %}

    <div class="project-body-block">
      {% block body_content %}
      {% endblock %}
    </div>
  </div>
  <div class="tablet:grid-col-3 padding-left-2">
    {% include "project/project-menu.html" %}
  </div>
</div>
{{ send_invitation|json_script:"send_invitation"}}

{% include "edit-project-modal.html" %}
{% include "edit-project-security-impact-levels-modal.html" %}
{% include "move-project-modal.html" %}

{{ import_project_form.file.auto_id|json_script:"auto_id" }}

{% include "controls/import_project_modal.html" %}

{% block modals %}

{% endblock %}

{% endblock %}

{% block scripts %}
<script src="{% static "js/project.dev.js" %}"></script>
{% endblock %}
