{% extends "base.html" %}

{% load q %}

{% block navbar %}
{% endblock %}

{% block breadcrumbs %}
  <nav class="usa-breadcrumb margin-left-2" aria-label="Breadcrumbs,,">
    <ol class="usa-breadcrumb__list">
      {% if not task.project.is_account_project %}
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" href="/">Home</a>
        </li>
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" href="{{task.project.portfolio.get_absolute_url}}">{{task.project.portfolio.title}}</a>
        </li>
        {% for parent_project in task.project.get_parent_projects %}
          <li class="usa-breadcrumb__list-item">
            <a class="usa-breadcrumb__link" href="{{parent_project.get_absolute_url}}">{{parent_project.title}}</a>
          </li>
        {% endfor %}
        <li class="usa-breadcrumb__list-item">
          <a class="usa-breadcrumb__link" href="{{task.project.get_absolute_url}}">{{task.project.title}}</a>
        </li>
        {% if is_question_page and current_group %}
          <li class="usa-breadcrumb__list-item">
            <a class="usa-breadcrumb__link" href="{{task.project.get_absolute_url}}#{{current_group}}">{{current_group}}</a>
          </li>
        {% endif %}
      {% endif %}
      <li class="usa-breadcrumb__list-item active">
        {{task.title}}
      </li>
    </ol>
  </nav>
{% endblock %}

{% block body %}
<div id="auth-status">
{% if task.editor == request.user %}

    {% for inv in open_invitations %}
      <div data-invitation-id="{{inv.id}}" class="panel panel-warning task-invitation">
        <div class="panel-body">
          You invited {{inv.to_display}} {{inv.purpose}} on {{inv.created|date}}.
          (<a href="#" onclick="return cancel_invitation(this);">cancel</a>)
          <br />You may <a href="{{task.project.get_absolute_url}}">close</a> this task.
        </div>
      </div>
    {% endfor %}

{% elif is_discussion_guest %}

<div class="text-danger small task-invitation">
    You are participating in the discussion on this question as a guest.
</div>

{% endif %}
</div>

<script>
function invite_to_transfer_editor() {
  var info = {{send_invitation|json}};
  show_invite_modal(
    'Ask a Colleague',
    'Invite a colleague to complete {{task.title|escapejs}}.',
    info,
    '{{task.render_invitation_message|escapejs}}',
    {
      project: info.project_id,
      into_task_editorship: {{task.id}}
    });
  return false;
}

function delete_task() {
  show_modal_confirm(
    "Delete Task",
    "Are you sure you want to delete {{task.title|escapejs}}?",
    "Delete", function() {
      ajax_with_indicator({
          url: "{% url 'delete_task' %}",
          method: "POST",
          data: {
            id: {{task.id}}
          },
          keep_indicator_forever: true, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
          success: function(res) {
            window.location = "{{task.project.get_absolute_url|escapejs}}";
          }
      });
    });
  return false; // cancel link
}
</script>
{% endblock %}
