{% extends "task-base.html" %}
{% load static %}
{% load q %}

{% block title %}
{{m.title}}
{% endblock %}

{% block head %}
{{block.super}}
{% endblock %}

{% block pagetitle %}
  <h1 class="task-done">Add your FISMA Impact Level</h1>
{% endblock %}

{% block body %}
{{ block.super }}

<div class="col" style="margin: auto;">
  <div class="col-md-9 order-12">
    <div id="focus-area-wrapper" class="project-setup-confirmation measure-6">
      <p>Add your system’s FISMA Impact Level to enable Blueprint to start adding components.</p>
      <p>Components include pre-written control implementation statements to help you complete your System Security Plan.</p>
      <p>
        <ul class="usa-list">
          <li>Click “Next” to go to your project home. Blueprint can’t suggest components until you add your FISMA Impact Level.</li>
          <li>Click “Help” at the top of the page if you have questions.</li>
        </ul>
      </p>
      <p class="padding-top-3">
        <a href="{{task.project.get_absolute_url}}" class="usa-button">Next</a>
      </p>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "vendor/push.js" %}"> </script>
{% load static %}
<script src="{% static "js/tasks.dev.js" %}"></script>
{% endblock %}
