{% extends "task-base.html" %}
{% load static %}
{% load q %}
{% load bootstrap3 %}

{% block title %}
{{m.title}}
{% endblock %}

{% block head %}
{{block.super}}
{% endblock %}

{% block pagetitle %}
  <h1 class="task-done">Project Summary</h1>
  {% if top_of_page_output %}
    <div class="task-bottom-margin">
      {{top_of_page_output.html|safe}}
    </div>
  {% elif had_any_questions %}
    <div id="page-transition-paragraph">
      {% if previous_page_type == "project" %}
        <p>This module was last updated on {{task.updated|date}}.</p>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}

{% block body %}
{{ block.super }}

<div class="col" style="margin: auto;">
  <div class="col-md-9 order-12">
    <div id="focus-area-wrapper" class="">

      {% with answers_question=task.is_answer_to_unique %}
      {% if answers_question and answers_question.task.editor == request.user %}
        {% if task.project.is_account_project %}
          {# there is nothing else in the account settings project #}
          <p><a id="return-to-projects" href="/projects" class="btn btn-success">
          Return to Projects &raquo;</a></p>
        {% else %}
          {% if answers_question.task == answers_question.task.project.root_task %}
              {# return to project #}
              {# Show this form when we successfully determine next question #}
          {% else %}
            {# return to non-project parent task #}
            <p><a id="return-to-supertask" href="{{answers_question.task.get_absolute_url}}" class="btn btn-success">
            Continue Answering {{answers_question.task.title}} &raquo;
            </a></p>
          {% endif %}
          {# TODO: Does module-set work correctly? #}
          {% if answers_question.question.spec.type == "module-set" %}
            <form method="post" action="/tasks/start" style="display:inline;">
              {% csrf_token %}
              <input type="hidden" name="project" value="{{task.project.id}}"/>
              <input type="hidden" name="question" value="{{answers_question.question.key}}"/>
              <input type="hidden" name="previous" value="task"/>
              <a href="#" onclick="$(this).parent('form').submit(); return false;" class="btn btn-success" title="Add Another {{answers_question.question.answer_type_module.title}} to {{answers_question.question.spec.title}}.">
              Start New {{answers_question.question.answer_type_module.title}} &raquo;</a>
            </form>
          {% endif %}
        {% endif %}
      {% else %}
        {# every task, except projects, are now subtasks of other tasks, so this only occurs if a task is a subtask to multiple super-tasks #}
        <p><a href="{{task.project.get_absolute_url}}" class="btn btn-success">
        {# we used to say 'with other modules in {{task.project.title}}' but there may not be any other modules #}
        Continue &raquo;</a></p>
      {% endif %}
      {% endwith %}

      <div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
        {# output documents #}
        {% if outputs|length > 0 %}
          <div class="">
            <table class="usa-table">
              <caption>
                Available documents
              </caption>
              <thead>
                <tr>
                  <th scope="col">Document</th>
                  <th scope="col">Description</th>
                  <th scope="col" width="30%">Downloads</th>
                </tr>
              </thead>
              <tbody>
              {% for document in outputs %}
                {% if document.id == "ssp_v1" %}
                <tr>
                  <td>{{document.title}}</td>
                  <td class="font-sans-2xs">Download the recommended file format for importing your SSP into CMS CFACTS.</td>
                  <td>
                    <a id="cfacts-link" aria-label="CSVDownload">CFACTS (CSV)
                    <svg class="usa-icon position-relative usa-icon--size-3 top-1" aria-hidden="true" focusable="false" role="img"><use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#file_download" %}"></use></svg></a>
                    <form id="cfacts-download" role="form" class="pull-left" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="info_system" value="Information System"/>
                      <input type="hidden" name="control_id" value="Control ID"/>
                      <input type="hidden" name="catalog" value="Control Set Version Number"/>
                      <input type="hidden" name="shared_imps" value="Shared Implementation Details"/>
                      <input type="hidden" name="private_imps" value="Private Implementation Details"/>
                    </form>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td class="font-sans-2xs">Download your SSP as an editable Word document to share and edit anywhere.</td>
                  <td>
                    <a href="{{task.get_absolute_url}}/download/document/{{document.id | urlencode }}/docx">Word (DOCX)<svg class="usa-icon position-relative usa-icon--size-3 top-1" aria-hidden="true" focusable="false" role="img"><use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#file_download" %}"></use></svg></a>
                  </td>
                </tr>
                {% elif document.id == "ssp_v1_oscal_json" %}
                <tr>
                  <td></td>
                  <td class="font-sans-2xs">Download and share your SSP with other risk management tools that support NIST OSCAL.</td>
                  <td>
                    <a href="{% url 'ssp_export_oscal' project.system.id %}">OSCAL (JSON)<svg class="usa-icon position-relative usa-icon--size-3 top-1" aria-hidden="true" focusable="false" role="img"><use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#file_download" %}"></use></svg></a>
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
        {% endif %}

        {% if had_any_questions %}
          <div class="">
            <ul class="usa-list usa-list--unstyled">
              {% for q, a, value_html in all_answers %}
                <li><b>{{q.spec.title}}:</b> {{value_html|safe}}</li>
              {% endfor %}
            </ul>
            <div id="continue-nav" class="task-answers">
              {% if all_answers|length > 0 %}
                <button class="usa-button" onclick="window.location='{{task.project.get_absolute_url}}';">Continue to Project</button>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div> <!-- /accordion --> <!-- / continue panel -->
    </div> <!-- focus-area-wrapper -->
  </div>
  <div class="col-md-3 pull-right order-1">
    {% include "project/project-menu.html" %}
  </div>
</div>

<div class="modal fade" id="projectAssetWordConfig" tabindex="-1" aria-labelledby="projectAssetWordConfig" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="projectAssetWordConfig">Export Document Settings - Word (docx)</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <span id="projectAssetWordConfigValidation"></span>
          <table class="table table-hover">
            <thead>
              <th>Template Name</th>
              <th>Filename</th>
              <th>Description</th>
              <th>Created</th>
              <th>Updated</th>
            </thead>
            <tbody>
              {% for asset in project.assets.all %}
              <tr style="cursor: pointer">
                <td>
                  {% if asset.default %}
                    <input type="radio" name="projectAssets" id="radio-{{ asset.id }}" checked/>
                  {% else %}
                    <input type="radio" name="projectAssets" id="radio-{{ asset.id }}" />
                  {%  endif  %}
                <label for="radio{{ forloop.counter }}">{{ asset.title }} </label>
                </td>
                <td>{{ asset.filename }}</td>
                <td style="max-width: 30em;">{{ asset.description }}</td>
                <td>{{ asset.created }}</td>
                <td>{{ asset.updated }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <span style="float:left;" class="help-block">To add new templates please contact your Administrator</span>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exportCSVTemplateSSP" tabindex="-1" aria-labelledby="exportCSVTemplateSSP" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exportCSVTemplateSSP">Export SSP as CSV</h2>
        <div style="float:left;" class="help-block">Enter the five column headers for your SSP Control Statement CSV Export</div>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <span id="exportCSVTemplateSSPValidation"></span>
          <form role="form" class="form-horizontal" method="POST">
            {% csrf_token %}
            <div class="modal-body">
              {% for field in export_csv_form %}
              <label class="col-xs-5 control-label" style="text-align:left;" for="{{ field.auto_id }}">{{ field.label }}</label>
              {{ field }}
              {% endfor %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
              <button id="ssp_csv_submit" class="btn btn-success btn-submit" type="submit">Export</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{ send_invitation|json_script:"send_invitation"}}
{% endblock %}

{% block scripts %}
{% include "task-question-debug-links.html" %}

{% if authoring_tool_enabled %}
<script src="{% static "js/authoring_tool.js" %}"></script>
{% endif %}

<script src="{% static "vendor/push.js" %}"> </script>

<script>
// Allow templates to create Bootstrap 3 popovers.
$('.output-document *[data-toggle=popover]')
  .popover()
  .css({ cursor: 'pointer' });

$('.modal .table tbody tr').click(function(event) {
    if (event.target.type !== 'radio') {
      var previouslySelected = $('input[name="projectAssets"]:checked')[0];
      $(':radio', this).trigger('click');
      var tmp = $('input[name="projectAssets"]:checked')[0].id.split('-');
      var selectedAsset = tmp[1];
      ajax_with_indicator({
          url: "/projects/{{ project.id }}/assets/" + selectedAsset + '/__update',
          data: {
              "default": true
          },
          dataType: "json",
          method: "POST",
          success: function (res) {}, error: function (res) {
              previouslySelected.checked = true;
              var errorjson = $.parseJSON(res);
              show_modal_error("Search Error", errorjson["message"]);
          }
      })
    }
  });

// The download button shows a modal to ask what file format to download in.
function download_document(document_id) {
  var dom = $("<div><p>Select download format:</p>"
    + "<select class=form-control>"
    {% if gr_pdf_generator == 'wkhtmltopdf' %}+ "<option value=pdf>PDF</option>"{% endif %}
    + "<option value=docx>Word Document</option>"
    + "<option value=odt>OpenOffice Document</option>"
    + "<option value=html>HTML Page</option>"
    + "<option value=markdown>Markdown</option>"
    + "<option value=plain>Plain Text</option>"
    + "</select>"
    + "</div>");
  show_modal_confirm("Download Document", dom, "Download", function() {
    var format = dom.find("select").val();
    window.location = "{{task.get_absolute_url|escapejs}}/download/document/" + encodeURIComponent(document_id) + "/" + format;
  });
}

</script>
{% load static %}
<script src="{% static "js/tasks.dev.js" %}"></script>
{% endblock %}
