{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
  {{ catalog.control.label }} {{ catalog.control.title }}
{% endblock %}

{% block breadcrumbs_extension %}
  <li class="usa-breadcrumb__list-item">
    <a href="{{project.get_absolute_url}}" class="usa-breadcrumb__link">
      <span>{{project.title}}</span>
    </a>
  </li>
  <li class="usa-breadcrumb__list-item">
    <a href="{% url 'components_selected' system.id %}" class="usa-breadcrumb__link">
      <span>Manage Components</span>
    </a>
  </li>
  <li class="usa-breadcrumb__list-item">
    <span>{{ title.first }}</span>
  </li>
{% endblock %}

{% block pagetitle %}
<a href="{{project.get_absolute_url}}">{{ project }}{% if acronym %} ({{ acronym|safe }}){% endif %}</a>
{% endblock %}

{% block pageheader %}
  <h2 class="margin-bottom-1">
    {{ title.first }}
  </h2>
  <p><b>Version:</b> {{ catalog.catalog_display }}</p>
{% endblock %}

{% block body_content %}
<div class="grid-container padding-x-0">
    <div class="grid-row">
        <div class="grid-col-3 padding-right-2">
            <h4 class="text-bold margin-bottom-2 margin-top-1">Controls</h4>
            {% include 'controls/controls-sidenav.html' %}
        </div>
        <div class="grid-col-fill">
            {% include 'controls/editor-narrative.html' %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "js/project.dev.js" %}"></script>
<script src="{% static "js/control.dev.js" %}"></script>
{% endblock %}
