{% for k, f in filters.items %}
<h3 class="site-preview-heading">{{ k|title }}</h3>
<form class="usa-form">
    <fieldset class="usa-fieldset">
    {% for filter in f %}
        <div class="usa-checkbox">
            <input
                class="usa-checkbox__input"
                id="{{ k }}-{{ filter }}"
                type="checkbox"
                name="{{ k }}"
                value="{{ filter }}"
            />
            <label class="usa-checkbox__label" for="{{ k }}-{{ filter }}">
                {{ filter.name|title }} ({{ filter.count }})
            </label>
        </div>
    {% endfor %}
    </fieldset>
</form>
{% endfor %}