{% extends "project-base.html" %}
{% load humanize %}
{% load guardian_tags %}
{% load static %}
{% load q %}

{% block title %}
  Control
{% endblock %}

{% block pagetitle %}
  <div id="above-tab-content" class="row">
    <div>
      <h2 class="margin-bottom-1">
        {{ catalog.control.family_title }}: {{ catalog.control.label }} {{ catalog.control.title }}
      </h2>
      <p><b>Version:</b> {{ catalog.catalog_display }}</p>
    </div>
  </div>
{% endblock %}

{% block body_content %}
{{ statements }}
<div class="row margin-bottom-4">
  <div class="margin-top-1 padding-top-4 border-top-2px border-blue">
    <div class="col-md-3 padding-right-2">
      <h4 class="text-bold margin-bottom-2 margin-top-1">Components</h4>
      <nav aria-label="Secondary navigation,">
        <ul class="usa-sidenav">
          {% for k, smt in statements.items %}
            <li class="usa-sidenav__item">
              <a href="{{ smt.href }}" data-stid="{{ smt.id }}" class="{% if smt.active %}usa-current{% endif %}">{{ k }}
              {% if smt.active == "Implemented" %}
                <svg class="usa-icon position-relative usa-icon--size-1 float-right margin-top-05 text-green" aria-hidden="true" focusable="false" role="img"><use xlink:href="{% static "vendor/uswds-2.12.0/img/sprite.svg#check_circle" %}"></use></svg>
              {% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="col-md-9">
      {% for k, smt in statements.items %}
        {% if forloop.first %}
          <h3 id="component-name" class="text-bold margin-bottom-2">{{ k }}</h3>
        {% endif %}
      {% endfor %}
      <ul class="usa-list usa-list--unstyled">
        <li>
          <b>Responsibility</b>: <span id="responsibility">{% for k, smt in statements.items %}{% if forloop.first %}{{ smt.inheritance }}{% endif %}{% endfor %}</span>
        </li>
        <li><b>Control Description</b>: {{ catalog.control.description|linebreaks }}</li>
      </ul>
      <div class="usa-accordion usa-accordion--bordered" aria-multiselectable="true">
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="false"
            aria-controls="b-a1"
          >CMS Implementation Standard</button>
        </h4>
        <div id="b-a1" class="usa-accordion__content usa-prose">
          {% if catalog.implementation %}
            <p>{{ catalog.implementation|linebreaks }}</p>
          {% else %}
            <p>No Implementation Standards provided.</p>
          {% endif %}
        </div>
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="false"
            aria-controls="b-a2"
          >Guidance</button>
        </h4>
        <div id="b-a2" class="usa-accordion__content usa-prose">
          {% if catalog.guidance %}
            <p>{{ catalog.guidance|linebreaks }}</p>
          {% else %}
            <p>No Guidance provided.</p>
          {% endif %}
        </div>
        <h4 class="usa-accordion__heading">
          <button
            class="usa-accordion__button"
            aria-expanded="true"
            aria-controls="b-a3"
          >Control Narrative</button>
        </h4>
        <div id="b-a3" class="usa-accordion__content usa-prose">
              <p>{{ narrative.body }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
    <script>
        // Submits control id for Control look up box
        function show_control_by_id() {
            var control_id = $('#control-lookup').find('input[name="id"]').val();
            var url = "/systems/{{ system.id }}/controls/catalogs/{{ catalog.catalog_key }}/control/" + control_id;
            window.location.href = url;
        }
    </script>

    <script>
        // View combined implementation statement

        function update_combined_smt() {
            // Read through existing statements and combine into single statement
            combined_smt = $(".smt_form").map(function () {
                pid = $(this).find('input[name=pid]')[0].value;
                body = $(this).find('textarea[name=body]')[0].value;
                if (pid != null) {
                    c_smt = pid + "\n" + body;
                } else {
                    c_smt = body;
                }
                return c_smt
            }).get().join("\n\n");
            // Add combined statement to #combined_smt
            $("#combined_smt").html("<h3>Component Implementations Statement</h3><textarea style=\"border: none; min-height:300px;overflow-y: scroll;\" class=\"form-control\" cols=\"50\" onkeypress=\"$(this).keypress(function(e) {return false});\">" + combined_smt + "</textarea>");
        }

        // Adds statement form to page
         function add_smt(smt_count) {
          var panel_num = smt_count + 1

            // call django view for composing new statement form
            var smt_form = `{% include 'controls/add_producer_form.html' %}`.replace(/panel_num/g, panel_num);
        $("#smt-list").append(smt_form);
        }

        function save_smt(smt_panel_num) {
            // Save a statement
            // serialize data from the identified statement form
            var data = $('#' + smt_panel_num).serialize();
            var dataarray = $('#' + smt_panel_num).serializeArray();
            dataObj = {};

            $(dataarray).each(function (i, field) {
                dataObj[field.name] = field.value;
            });
            // send data via ajax to be saved
            ajax_with_indicator({
                url: "/controls/smt/_save/",
                method: "POST",
                data: data,
                indicator_parent: $('#page-content'),
                keep_indicator_forever: false, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
                success: function (res) {
                    console.log('success');
                    console.log(res);
                    if (res['status'] == "success") {
                        // Update field values from saved
                        // Initially update a few fields
                        smt_saved = JSON.parse(res['statement']);
                        console.log("printing smt_saved");
                        console.log(smt_saved);
                        $('#' + smt_panel_num + ' input[name=smt_id]').val(smt_saved[0]['pk']);

                        // If saving first time remove producer_element_name input field
                        if ($('#' + smt_panel_num + ' input[name=producer_element_id]').val().length == 0) {
                            $('#' + smt_panel_num + ' input[name=producer_element_id]').val(smt_saved[0]['fields']['producer_element']);
                        }

                        // Update panel statement
                        $('#' + smt_panel_num.replace("smt_", "panel-") + ' .panel-heading-smt-body').html(smt_saved[0]['fields']['body']);

                        $('#' + smt_panel_num + ' input[name=producer_element_id]').val(smt_saved[0]['fields']['producer_element']);
                        $('#success-msg-' + smt_panel_num).fadeIn().text('Saved');
                        // Update combined statement
                        if (typeof update_combined_smt === "function") {
                            update_combined_smt();
                        }
                    } else {
                        $('#success-msg-' + smt_panel_num).fadeIn().text('Error ' + res['message']);
                    }
                    setTimeout(function () {
                        $('#success-msg-' + smt_panel_num).fadeOut("fast");
                    }, 1000);
                    $('#selected_producer_element_form_id').append("<option value='" + smt_saved[0]['fields']['producer_element'] + "'>" + dataObj['producer_element_name'] + "</option>");
                    window.location.reload()
                }
            });

            // Stop <form> submit
            return false;

        }; // /save_smt

        function delete_smt(smt_panel_num) {
            console.log("Deleting statement button pressed " + smt_panel_num);
            // Confirm deletion

            var result = confirm("Delete statement?");
            if (result) {
                // Delete statement object in database if it exists
                if ($('#' + smt_panel_num + ' input[name=producer_element_id]').val().length > 0) {
                    // console.log("deleting db object")
                    // serialize data from the identified statement form
                    var data = $('#' + smt_panel_num).serialize()

                    // send data via ajax to delete object
                    ajax_with_indicator({
                        url: "/controls/smt/_delete/",
                        method: "POST",
                        data: data,
                        indicator_parent: $('#page-content'),
                        keep_indicator_forever: false, // keep the ajax indicator up forever --- it'll go away when we issue the redirect
                        success: function (res) {
                            console.log('success');
                            console.log(res);
                            if (res['status'] == "success") {
                                // Update field values from saved
                                // Initially update a few fields
                                console.log("smt_deleted");
                            }
                            // Remove statement accordian from page
                            console.log("removing from page " + '#panel-' + smt_panel_num)
                            $('#panel-' + smt_panel_num.replace("smt_", "")).remove()
                        }
                    });
                } else {
                    // Remove statement accordian from page
                    console.log("removing from page " + '#panel-' + smt_panel_num)
                    $('#panel-' + smt_panel_num.replace("smt_", "")).remove()
                }
            }
        }
    </script>

    <script>
        function copy_smt_prototype(smt_panel_num) {
            // User wants to copy the certified statement locally
            // Copy the statement's prototype body text into statement body textarea
            smt_prototype = $('#prototype_body_' + smt_panel_num).text();
            $('#body_' + smt_panel_num).val($('#prototype_body_' + smt_panel_num).text().trim());
            // Update comparison label
            $('#diff_alert_' + smt_panel_num).html('<span id="diff_alert_' + smt_panel_num + '"><a href="#diff_' + smt_panel_num + '" class="" data-toggle="collapse" style="text-decoration: none;font-weight: normal; font-size: 9pt; color: green;"><span class="glyphicon glyphicon-check"></span> Same as certified</a></span>');
            // Update comparison
            $('#diff_comparison_' + smt_panel_num).text('Texts are identical.');
        }

    </script>

    <script>
        var helpers = {

            buildDropdown: function (result, dropdown, emptyMessage) {

                //Remove current options
                dropdown.html('');


                //Check result isn't empty
                if (result != '') {
                    // loop
                    $.each(result['producer_element_name_value'], function (k, v) {
                        dropdown.append("<option value='" + v["id"] + "'>" + v["name"] + "</option>");
                    });
                }
                if (dropdown.html() === '') {

                    dropdown.append("<option disabled>" + emptyMessage + "</option>");

                    $('#statement_alert')
                        .text("No statements found.", result)
                        .fadeIn('fast');
                    setTimeout(function () {
                        $('#statement_alert').fadeOut()
                    }, 3000);
                }

            },
            buildModalcheckbox: function (result, modal, emptyMessage) {
                //Remove current options
                modal.html('');
                //Check result isn't empty
                if (result != '') {
                    // loop
                    $.each(result['producer_element_statement_values'], function (loopcount, v) {

                        var startlist = "<li>";
                        var endlist = "</li>";
                        var data = `{% include 'controls/modalcheckbox.html' %}
`.replace(/smt_id/g, v['smt_id']).replace(/smt_sid_class/g, v['smt_sid_class']).replace(/smt_sid/g, v['smt_sid']).replace(/producer_element_name/g, v['producer_element_name']).replace(/smt_body/g, v['smt_body']).replace(/smt_pid/g, v['smt_pid']).replace(/smt_status/g, v['smt_status']).replace(/loopcount/g, loopcount + 1)
                        modal.append(startlist + data + endlist)

                    });

                }


            },
        }

        function search_components(text, system_id) {
                // Submit the ajax request to search
            ajax_with_indicator({
                url: "{% url 'search_system_component' %}",
                data: {
                    "text": text,
                    "system_id": system_id,
                },
                dataType: "json",
                method: "GET",
                success: function (res) {
                    helpers.buildDropdown(res, $('#selected_producer_element_form_id'), "No existing statements found!");

                }, error: function (res) {

                    var errorjson = $.parseJSON(res);
                    show_modal_error("Search Error", errorjson["message"]);
                }
            });

        }
    </script>

    <script type="text/javascript">
        $('.selectall').click(function () {
            if ($(this).is(':checked')) {
                $('input:checkbox').prop('checked', true);
            } else {
                $('input:checkbox').prop('checked', false);
            }
        });


        function show_related_controls(system_id) {
            // Update the modal to show the related controls
            var producer_element_form_id = $('#selected_producer_element_form_id :selected').val();
            var control_id = $('#control_id').val();
            // Submit the ajax request.
            ajax_with_indicator({
                url: "{% url 'related_system_components' %}",
                data: {
                    "system_id": system_id,
                    "producer_element_form_id": producer_element_form_id || $('#producer_element_id').val(),
                    "control_id": control_id
                },
                dataType: "json",
                method: "GET",
                success: function (res) {
                    helpers.buildModalcheckbox(res, $('#relatedcomp ol'), "Related components were not added!");

                    $("#relatedcompModal .modal-title").text("Select component statements related to " + res['selected_component'])
                    $("#relatedcompModal").modal('show');

                }, error: function (res) {

                    var errorjson = $.parseJSON(res);
                    show_modal_error("Search Error", errorjson["message"]);
                }
            });

        }

        function check_for_selection() {
            var checked = $('#relatedcomp').find(':checked').length;

            if (!checked) {
                $('#related_statement_alert')
                    .text("No related components selected.")
                    .fadeIn('fast');
                setTimeout(function () {
                    $('#related_statement_alert').fadeOut()
                }, 5000);
                return false;
            }

            if (checked) {
                var smts_selected = [];
                $('#relatedcomp :checked').each(function () {
                    smts_selected.push($(this).val());
                });
                var alert_section = $('#related_statement_alert')

                alert_section.text("Added new statement implementation(s) with prototype id(s) : " + smts_selected.join(', '))
                    .fadeIn('fast');
                alert_section.attr('class', 'alert alert-success');
                setTimeout(function () {
                    $('#related_statement_alert').fadeOut()
                }, 5000);
                return true;
            }

        }


    </script>

<script src="{% static "js/control.dev.js" %}"></script>
{% endblock %}
